Redirect /galactica/update https://wiki.lewmc.net/index.php/Updating_Software
Redirect /modpack/galactica/update https://wiki.lewmc.net/index.php/Updating_Software
Redirect /galactica /modpack/galactica

Redirect /lews-jurassic-pack/update https://wiki.lewmc.net/index.php/Updating_Software
Redirect /modpack/lews-jurassic-pack/update https://wiki.lewmc.net/index.php/Updating_Software
Redirect /lews-jurassic-pack /modpack/lews-jurassic-pack

Redirect /lews-client-pack /modpack/lews-client-pack
Redirect /simplyaesthetic/update https://wiki.lewmc.net/index.php/Updating_Software
Redirect /simplyaesthetic /modpack/simplyaesthetic
Redirect /downloads/simplyaesthetic/update https://wiki.lewmc.net/index.php/Updating_Software

Redirect /ram https://wiki.lewmc.net/index.php?title=Allocating_RAM
Redirect /logs https://wiki.lewmc.net/index.php?title=Logs

Redirect /mods /mod
Redirect /modpacks /modpack
Redirect /plugins /plugin
Redirect /servers /server
Redirect /discord https://discord.gg/AfM396ReGj
Redirect /wiki https://wiki.lewmc.net

Redirect /essence /plugin/essence
Redirect /kryptonite /plugin/kryptonite

<FilesMatch "\.(?i:gif|jpe?g|png|webp|ico|css|js|swf|woff2|ttf)$">

  <IfModule mod_headers.c>
    Header set Cache-Control "max-age=1209600, public, must-revalidate"
  </IfModule>

</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]